body {
  margin: 0px;
  
  font-family: 'Open Sans', sans-serif;
  
  background: linear-gradient(128deg, rgb(115 0 255 / 17%) 85%, rgb(136 0 255 / 20%) 25%);
}

.text {
  width: 1600px;
  margin: 0px auto;
  padding-top: 65px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 68px;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 30px;

  margin: 0;
  padding: 0;

  font-family: 'Mulish', sans-serif;

}

a {
  text-decoration: none;
  color: rgba(41, 27, 117, 0.89);
}

ul li a:hover {
  font-weight: bold;
}

div h1:hover {
  font-weight: bold;
  color: rgba(41, 27, 117, 0.89);
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}



h1{
  font-family: 'Sedgwick Ave Display', cursive;
  font-size: 78px;
  font-weight: normal;
}

p {

  color: rgba(41, 27, 117, 0.89);
  font-size: 22px;
  line-height: 32px;

}

footer {
  font-size: 18px;
  font-weight: bold;
  text-align: center;

  margin-top: 95px;
  margin-bottom: 100px;

}

footer a:hover {
  color: rgb(49, 49, 49);

}

#riotlogo {
  right: 0;
  position: fixed;
  bottom: 0;
  width: 190px;
}


